<div class="content">
  <%= form_tag "/", remote: true, id: "add-message-form" do %>
    <%= text_field_tag :message %>
    <%= submit_tag "Add message" %>
  <% end %>
  <ul id="list-messages"></ul>
</div>
