<script type="text/ng-template" id="sign_in.html">
  <form class="signin-form" role="form">
    <input type="email" class="form-control" id="input-email" placeholder="Enter email">
    <input type="password" class="form-control" id="input-password" placeholder="Password">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-click="sign_in()">Sign in</button>
  </form>
</script>
<button class="btn btn-default" ng-click="sign_in()">Sign in</button>
