<script type="text/ng-template" id="sign_in.html">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="input-email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="input-email" placeholder="Input email">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" ng-click="sign_in()">Sign in</button>
      </div>
    </div>
  </form>
</script>
<button class="btn btn-default" ng-click="sign_in()">Sign in</button>
